.shortcut {
    height: 30px;
    margin-top: 15px;
}
.shortcut_right, .shortcut_left{
    float: right;
    height: 20px;
}
.shortcut_right a {
    color: #000;
    font-size: 14px;
    margin: 0 10px;
}
.shortcut_left {
    font-size: 14px;
}
.shortcut_left a{
    color: #a1a1a1;
    margin: 0 16px 0 10px;
    float: right;
}
.shortcut_left span{
    color: #000;
    margin: 0 10px;
    float: right;
}