#login_wrap {
    width:100%;
    overflow: hidden;
}
.login_box {
    width: 500px;
    height: 450px;
    background: #fff;
    margin:24px auto;
    border:8px solid #eeeeee;
    border:8px solid #eeeeee;
    box-sizing: border-box;
}
.title {
    height: 80px;
    line-height: 80px;
    background: #337ab7;
    color: white;
    font-size: 22px;
    padding:0 30px;
    text-align: center;
}
.login_inner {
    overflow: hidden;
    padding: 10px 50px;
}
.login_inner form{
    width: 100%;
    overflow: hidden;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}

tr{
    height: 50px;
    width: 100%;
}

.td_left{
    width: 30%;
    text-align: right;
    padding-right: 3px;
}

.td_right{
    width: 70%;
}

#email,#password{
    width: 256px;
    height: 32px;
    line-height: 32px;
    box-sizing: border-box;
    padding: 6px 12px;
    border-radius: 4px;
    border:1px solid #a6a6a6;
    float: right;
}

#check{
    width: 140px;
    height: 32px;
    line-height: 32px;
    box-sizing: border-box;
    padding: 6px 12px;
    border-radius: 4px;
    border:1px solid #a6a6a6;
    float: left;
}

.submit_btn{
    padding-left: 10px;
}

#btn_sub {
    width: 120px;
    height: 40px;
    border: none;
    background-color: #337ab7;
    text-align: center;
    line-height: 40px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    float: left;
}

.reg{
    text-align: center;
}